<!-- <p>Este es el formulario super chungo donde se crea un pokemon. Si se ha hecho clic sobre un Pokemon existente, aparecen sus datos
    para poder editar. Si se hace clic sobre el boton de guardar, se guarda toda la informacion actual (si algo esta vacio, se pone como NULL),
    se sube a la BD y se redirige al team-builder.
</p> -->
<form [formGroup]="frm" autocomplete="off" (submit)="savePokemon()">
<div class="row">
    <div class="col-12 text-center mt-3 d-flex justify-content-between">
        <h2>{{"pokemonFrm.title" | translate}}</h2>
        <button type="submit" class="btn btn-success" [disabled]="frm.invalid">Save</button>
    </div>
</div>
<hr>
<div class="row ">
    <div class="col-12 col-lg-3 border border-danger mt-2">
        <!-- alinear bien la imagen cuando se pueda -->
        @if(selectedPokemon && shiny==false){
            <img [src]="aPokemonDataId[0].image| pokemonPath" class="img-fluid mx-auto d-block">
        }@else if(selectedPokemon!=null && shiny==true){
            <img [src]="aPokemonDataId[0].image_shiny| pokemonShinyPath" class="img-fluid mx-auto d-block">
        }@else {
            <img src="assets/images/pokemon/pokeball.png" class="img-fluid mx-auto d-block">
        }
        <div class="form-group mb-3 text-center">
            <mat-form-field appearance="fill" class="w-100">
            <mat-label>Pokemon</mat-label>
            <mat-select id="pokemonId" formControlName="pokemonId" (selectionChange)="onChangeEvent($event)" #inputElement>
                <mat-option value="" selected>{{'pokemonFrm.select.pokemon' | translate}}</mat-option>
                @for (data of aPokemonData; track $index){
                <mat-option [value]="data.id">{{`pokemonData.name.${data.id}` | translate | titlecase}}</mat-option>
                }
            </mat-select>
            @if (this.frm.get('pokemonId')?.errors?.['required'] && this.frm.get('pokemonId')?.touched) {
            <span class="text-danger fst-italic text">{{"pokemonFrm.error.noPokemon" | translate}}</span>
            }
            </mat-form-field>
        </div>
        <!-- <div class="form-group mb-3 text-center">
            
                <mat-label>Pokemon</mat-label>
                <app-autocomplete-select [label]="'Pokemon'" [control]="pokemonControl" [options]="aPokemonData" [optionValueKey]="'id'"
                    [entityKey]="'pokemonData'" (optionSelected)="onChangeEvent($event)" >
                </app-autocomplete-select>
                @if (this.frm.get('pokemonId')?.errors?.['required'] && this.frm.get('pokemonId')?.touched) {
                <span class="text-danger fst-italic text">{{"pokemonFrm.error.noPokemon" | translate}}</span>
                }
            
        </div> -->
        <div class="d-flex justify-content-center mb-2">
            @if(selectedPokemon){
                @for (type of aPokemonTypes; track $index) {
                    <img [src]="type.image | typePath" class="img-fluid mx-auto d-block">
                }
                <!-- <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vii/ultra-sun-ultra-moon/9.png" class="img-fluid mx-auto d-block">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vii/ultra-sun-ultra-moon/8.png" class="img-fluid mx-auto d-block"> -->
            }
        </div>
    </div>
    <div class="col-12 col-lg-4 border border-black mt-2">
        <div class="form-group text-center">
            <mat-form-field appearance="fill" class="w-100 mt-2">
            <mat-label>{{'pokemonFrm.ability' | translate}}</mat-label>
            <mat-select id="ability" formControlName="ability">
                <mat-option value="" selected>{{'pokemonFrm.select.ability' | translate}}</mat-option>
                @for (ability of aAbilities; track $index) {
                     <mat-option [value]="ability.id">{{`abilities.name.${ability.id}` | translate | titlecase}}</mat-option>
                }
            </mat-select>
            @if (this.frm.get('ability')?.errors?.['required'] && this.frm.get('ability')?.touched) {
                <span class="text-danger fst-italic text">{{"pokemonFrm.error.noAbility" | translate}}</span>
            }
            </mat-form-field>
        </div>
        <div class="form-group text-center">
            <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{'pokemonFrm.item' | translate}}</mat-label>
            <mat-select id="item" formControlName="item">
                <mat-option value="" selected>{{'pokemonFrm.select.item' | translate}}</mat-option>
                @for(item of aItems;track $index){
                    <mat-option [value]="item.id">{{`items.name.${item.id}` | translate | titlecase}}</mat-option>
                }
            </mat-select>
            @if (this.frm.get('item')?.errors?.['required'] && this.frm.get('item')?.touched) {
                <span class="text-danger fst-italic text">{{"pokemonFrm.error.noItem" | translate}}</span>
            }
            </mat-form-field>
        </div>
        <div class="d-flex justify-content-center mb-2 text-center">
            <div class="form-group me-2">
                <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'pokemonFrm.level' | translate}}</mat-label>
                <input type="number" matInput id="level" formControlName="level" min="1" max="100">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'pokemonFrm.tera' | translate}}</mat-label>
                <mat-select id="teratype" formControlName="teratype">
                    <mat-option value="" selected>{{'pokemonFrm.select.tera' | translate}}</mat-option>
                    @for (type of aTypes; track $index){
                        <mat-option [value]="type.id">{{`types.name.${type.id}` | translate | titlecase}}</mat-option>
                    }
                </mat-select>
                @if (this.frm.get('teratype')?.errors?.['required'] && this.frm.get('teratype')?.touched) {
                    <span class="text-danger fst-italic text">{{"pokemonFrm.error.noTera" | translate}}</span>
                }
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-center">
        <div class="form-check">
            <!-- <label class="form-check-label" for="isShiny">{{"pokemonFrm.shiny" | translate}}</label> -->
            <!-- <input type="checkbox" class="form-check-input" id="isShiny" formControlName="isShiny" [(ngModel)]="shiny"> -->
             <mat-checkbox type="checkbox" id="isShiny" formControlName="isShiny" [(ngModel)]="shiny">Shiny</mat-checkbox>
        </div>
        </div>
    </div>
    <div class="col-12 col-lg-5 border border-info mt-2">
        <div class="d-flex flex-column">
            <div class="form-group my-2">
                <mat-form-field appearance="fill" class="w-100">
                <mat-select id="move1" formControlName="move1">
                    <mat-option value="" selected>{{'pokemonFrm.move1' | translate}}</mat-option>
                    @for (move of aMoves; track $index){
                        <mat-option [value]="move.id">{{`moves.name.${move.id}` | translate | titlecase}}</mat-option>
                    }
                </mat-select>
                @if (this.frm.get('move1')?.errors?.['required'] && this.frm.get('move1')?.touched) {
                <span class="text-danger fst-italic text">{{"pokemonFrm.error.noMove" | translate}}</span>
            }
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                <mat-select id="move2" formControlName="move2">
                    <mat-option value="" selected>{{'pokemonFrm.move2' | translate}}</mat-option>
                    @for (move of aMoves; track $index){
                        <mat-option [value]="move.id">{{`moves.name.${move.id}` | translate | titlecase}}</mat-option>
                    }
                </mat-select>
                @if (this.frm.get('move2')?.errors?.['required'] && this.frm.get('move2')?.touched) {
                <span class="text-danger fst-italic text">{{"pokemonFrm.error.noMove" | translate}}</span>
            }
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                <mat-select id="move3" formControlName="move3">
                    <mat-option value="" selected>{{'pokemonFrm.move3' | translate}}</mat-option>
                    @for (move of aMoves; track $index){
                        <mat-option [value]="move.id">{{`moves.name.${move.id}` | translate | titlecase}}</mat-option>
                    }
                </mat-select>
                @if (this.frm.get('move3')?.errors?.['required'] && this.frm.get('move3')?.touched) {
                <span class="text-danger fst-italic text">{{"pokemonFrm.error.noMove" | translate}}</span>
            }
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                <mat-select id="move4" formControlName="move4">
                    <mat-option value="" selected>{{'pokemonFrm.move4' | translate}}</mat-option>
                    @for (move of aMoves; track $index){
                        <mat-option [value]="move.id">{{`moves.name.${move.id}` | translate | titlecase}}</mat-option>
                    }
                </mat-select>
                @if (this.frm.get('move4')?.errors?.['required'] && this.frm.get('move4')?.touched) {
                <span class="text-danger fst-italic text">{{"pokemonFrm.error.noMove" | translate}}</span>
            }
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
@if(selectedPokemon){

<div class="row mt-2">
    <div class="col-12 border border-success text-center">
        <table class="table text-center table-light">
            <thead>
                <th scope="col">{{"pokemonFrm.stat" | translate}}</th>
                <th scope="col">{{"pokemonFrm.baseStat" | translate}}</th>
                <th scope="col"></th>
                <th scope="col">EV</th>
                <th scope="col">IV</th>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">HP</th>
                    <td>{{aPokemonDataId[0].base_hp}}</td>
                    <td class="col-4 col-lg-8">
                        <div class="progress mt-2 w-full" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                             <div class="progress-bar" [ngStyle]="{'width': aStatbar[0].width, 'background-color': aStatbar[0].color}"></div>
                            <!-- el width se obtiene diviendo el stat base entre 200 ((87/200)*100), para la HP de gholdengo seria 43%
                             se divide entre 200 y no entre 255 que es el maximo para que las barras se queden mas llenas, si un stat sobrepasa
                             200 se pone directamente como width 100% -->
                             <!-- los colores de las barras -->
                             <!-- Red: Very Bad (1 - 29) #f34444
                                Orange: Bad (30 - 59) #ff7f0f
                                Yellow: Bad - Mediocre (60 - 89) #ffdd57
                                Green: Decent - Good (90 - 119) #a0e515
                                Dark Green: Very Good (120 - 149) #23cd5e
                                Blue: Phenomenal (150 - 255) #00c2b8 -->
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="evhp" formControlName="evhp" value="0" min="0" max="252">
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="ivhp" formControlName="ivhp" value="31" min="0" max="31">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">ATK</th>
                    <td>{{aPokemonDataId[0].base_atk}}</td>
                    <td class="col-4 col-lg-8">
                        <div class="progress mt-2 w-full" role="progressbar" aria-label="Basic example" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [ngStyle]="{'width': aStatbar[1].width, 'background-color': aStatbar[1].color}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="evatk" formControlName="evatk" value="0" min="0" max="252">
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="ivatk" formControlName="ivatk" value="31" min="0" max="31">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">DEF</th>
                    <td>{{aPokemonDataId[0].base_def}}</td>
                    <td class="col-4 col-lg-8">
                        <div class="progress mt-2 w-full" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [ngStyle]="{'width': aStatbar[2].width, 'background-color': aStatbar[2].color}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="evdef" formControlName="evdef" value="0" min="0" max="252">
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="ivdef" formControlName="ivdef" value="31" min="0" max="31">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">SPATK</th>
                    <td>{{aPokemonDataId[0].base_spatk}}</td>
                    <td class="col-4 col-lg-8">
                        <div class="progress mt-2 w-full" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [ngStyle]="{'width': aStatbar[3].width, 'background-color': aStatbar[3].color}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="evspatk" formControlName="evspatk" value="0" min="0" max="252">
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="ivspatk" formControlName="ivspatk" value="31" min="0" max="31">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">SPDEF</th>
                    <td>{{aPokemonDataId[0].base_spdef}}</td>
                    <td class="col-4 col-lg-8">
                        <div class="progress mt-2 w-full" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [ngStyle]="{'width': aStatbar[4].width, 'background-color': aStatbar[4].color}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="evspdef" formControlName="evspdef" value="0" min="0" max="252">
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="ivspdef" formControlName="ivspdef" value="31" min="0" max="31">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">SPD</th>
                    <td>{{aPokemonDataId[0].base_spd}}</td>
                    <td class="col-4 col-lg-8">
                        <div class="progress mt-2 w-full" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [ngStyle]="{'width': aStatbar[5].width, 'background-color': aStatbar[5].color}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="evspd" formControlName="evspd" value="0" min="0" max="252">
                        </div>
                    </td>
                    <td>
                        <div class="form-group text-center">
                            <input type="number" class="form-control" id="ivspd" formControlName="ivspd" value="31" min="0" max="31">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @if (frm.errors?.['evTotalExceeded']) {
            <span class="text-danger fst-italic text">{{"pokemonFrm.error.aboveEV" | translate}}</span>
        }
    </div>
</div>
}
</form>


        