<mat-form-field appearance="fill" class="w-100">
  <mat-label>{{ label }}</mat-label>
<input type="text"
         matInput
         [formControl]="control"
         [matAutocomplete]="auto"
         [matAutocompleteDisabled]="!options.length"
         (focus)="onFocus()"
         (blur)="onBlur()"
         (input)="onInput($event)"
         >
  <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option[optionValueKey] ?? option">
        {{ entityKey+".name."+option[optionValueKey] | translate | titlecase }}
  </mat-option>

  </mat-autocomplete>
</mat-form-field>