<form [formGroup]="frm" autocomplete="off" (submit)="register()">
<div class="row">
    <div class="col-12 mt-3 d-flex flex-column justify-content-between">
        <h2>Register</h2>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 my-2 text-center">
            <mat-form-field class="col-12">
                <mat-label>{{"register.name" | translate}}</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            @if (nameNotRequired) {
                <span class="text-danger fst-italic">{{"register.error.nameRequired" | translate}}</span>
            }
            <mat-form-field class="col-12">
              <mat-label>{{"register.email" | translate}}</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            @if (emailNotRequired) {
                <span class="text-danger fst-italic">{{"register.error.emailRequired" | translate}}</span>
            }@else if (emailWrongFormat) {
                <span class="text-danger fst-italic">{{"register.error.emailWrongFormat" | translate}}</span>
            }
            <mat-form-field class="col-12">
              <mat-label>{{"register.password" | translate}}</mat-label>
              <input matInput formControlName="password">
            </mat-form-field>
            @if (passwordNotRequired) {
                <span class="text-danger fst-italic">{{"register.error.passwordRequired" | translate}}</span>
            }
        </div>
        <div class="col-12 my-2 text-center">
            <button type="submit" class="btn btn-success" [disabled]="frm.invalid">{{"register.register" | translate}}</button>
            <p class="my-2">{{"register.text" | translate}} <a href="/login" class="link-underline link-underline-opacity-0">{{"register.link" | translate}}</a></p>
        </div>
    </div>
</form>