<form [formGroup]="frm" autocomplete="off" (submit)="saveMove()">
    <div class="row">
        <div class="col-12 text-center mt-3 d-flex justify-content-between">
            <h2>{{"adminMove.title" | translate}}</h2>
            <button type="submit" class="btn btn-success" [disabled]="frm.invalid">{{"button.save" | translate}}</button>
        </div>
    </div>
    <hr>
    <div class="row ">
        <mat-form-field class="col-12">
            <mat-label>{{"adminMove.nameEN" | translate}}</mat-label>
            <input matInput formControlName="name_en">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminMove.nameES" | translate}}</mat-label>
            <input matInput formControlName="name_es">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminMove.descriptionEN" | translate}}</mat-label>
            <input matInput formControlName="description_en">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminMove.descriptionES" | translate}}</mat-label>
            <input matInput formControlName="description_es">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{"adminMove.type" | translate}}</mat-label>
            <mat-select formControlName="type">
                @for (type of aTypes; track $index) {
                <mat-option [value]="type.id">{{`types.name.${type.id}` | translate | titlecase}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminMove.power" | translate}}</mat-label>
            <input type="number" matInput formControlName="power">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminMove.accuracy" | translate}}</mat-label>
            <input type="number" matInput formControlName="accuracy">
        </mat-form-field>
    </div>
</form>