<!-- <p>Aqui, en home, debe haber un cuadradito con equipos "de prueba" (o sacados de la base de datos).
    En una columna a la izquierda/derecha/simplemente mas abajo, hay links de ayuda: Enlaces a Smogon, noticias, avisos de quien ha ganado un torneo, etc.
    Igual una imagen asi bonita (no se, logo de Pokemon o algo?)
</p> -->
<div class="row">
    <div class="col-12 text-center mt-3">
        <h1>Pokemon Team Manager & Builder</h1>
        <img [src]="'smogon_logo.png'| logoPath" class="img-fluid">
        <p class="my-2">{{'home.main.text' | translate}}</p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 text-center mt-3">
        <h1>{{"home.main.title2" | translate}}</h1>
        <div class="d-flex flex-column flex-lg-row justify-content-lg-around align-items-center align-items-lg-center align-items-lg-stretch">
            <div class="card my-2" style="width: 18rem;">
                <img [src]="'smogon_overused.png'| logoPath" class="card-img-top img-fluid h-50" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{'home.teamCard.title1' | translate}}</h5>
                  <p class="card-text">{{'home.teamCard.text1' | translate}}</p>
                  <a href="https://pokepast.es/40b6bff80a7d28e3" target="_blank" class="btn btn-primary">Obtain</a>
                </div>
              </div>
              <div class="card my-2" style="width: 18rem;">
                <img [src]="'smogon_vgc.png'| logoPath" class="card-img-top img-fluid h-50" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{'home.teamCard.title2' | translate}}</h5>
                  <p class="card-text">{{'home.teamCard.text2' | translate}}</p>
                  <a href="https://pokepast.es/da706d19648f20ff" target="_blank" class="btn btn-primary">Obtain</a>
                </div>
              </div>
              <div class="card my-2" style="width: 18rem;">
                <img [src]="'smogon_overused.png'| logoPath" class="card-img-top img-fluid h-50" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{'home.teamCard.title3' | translate}}</h5>
                  <p class="card-text">{{'home.teamCard.text3' | translate}}</p>
                  <a href="https://pokepast.es/058f8c309ed8d12e" target="_blank" class="btn btn-primary">Obtain</a>
                </div>
              </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
  <div class="col-12 text-center mt-3">
      <h1>{{"home.main.title3" | translate}}</h1>
      <div class="d-flex flex-column flex-lg-row justify-content-lg-around align-items-center align-items-lg-center align-items-lg-stretch">
          <div class="card my-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{'home.usefulLinks.title1' | translate}}</h5>
              <p class="card-text">{{'home.usefulLinks.text1' | translate}}</p>
              <a href="https://www.youtube.com/watch?v=WuFr4-DcFMA&t=2s" target="_blank" class="btn btn-primary stretched-link">Link</a>
            </div>
            </div>
            <div class="card my-2" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{'home.usefulLinks.title2' | translate}}</h5>
                <p class="card-text">{{'home.usefulLinks.text2' | translate}}</p>
                <a href="https://www.smogon.com/forums/threads/sv-ou-role-compendium.3713852/" target="_blank" class="btn btn-primary stretched-link">Link</a>
              </div>
            </div>
            <div class="card my-2" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{'home.usefulLinks.title3' | translate}}</h5>
                <p class="card-text">{{'home.usefulLinks.text3' | translate}}</p>
                <a href="https://www.smogon.com/forums/threads/sv-ou-speed-tiers.3711207/" target="_blank" class="btn btn-primary stretched-link">Link</a>
              </div>
            </div>
      </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-12 text-center mt-3">
      <h1>Team Of The Week</h1>
      <div class="d-flex flex-column flex-lg-row justify-content-lg-around align-items-center align-items-lg-center">
        @for (team of aTeamsWeek; track $index) {
          <div class="card my-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{team.name}}</h5>
              <p class="card-text">{{team.description}}</p>
              <p class="card-text">Made By: {{userNamesMap.get(team.id!)}}</p>
              <a routerLink="/teamViewer/{{team.id}}" href="" target="_blank" class="btn btn-primary stretched-link">Link</a>
            </div>
          </div>
        }
      </div>
  </div>
</div>