<!-- <p>Aqui, en home, debe haber un cuadradito con equipos "de prueba" (o sacados de la base de datos).
    En una columna a la izquierda/derecha/simplemente mas abajo, hay links de ayuda: Enlaces a Smogon, noticias, avisos de quien ha ganado un torneo, etc.
    Igual una imagen asi bonita (no se, logo de Pokemon o algo?)
</p> -->
<div class="row">
    <div class="col-12 text-center mt-3">
        <h1>Pokemon Team Manager & Builder</h1>
        <img src="img/logos/smogon_logo.png" class="img-fluid">
        <p class="my-2">Welcome to the Pokemon Team Manager & Builder. This website allows you to create your own Pokemon Teams and export them to share
            with people. It also contains useful information such as relevant news about the competitive scene and some example teams.
        </p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 text-center mt-3">
        <h1>Example Teams</h1>
        <div class="d-flex justify-content-around">
            <div class="card my-2" style="width: 18rem;">
                <img src="img/logos/smogon_overused.png" class="card-img-top img-fluid h-50" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bulky Offense Example Team</h5>
                  <p class="card-text">Primarina + SD Gliscor BO by Finchinator</p>
                  <a href="https://pokepast.es/40b6bff80a7d28e3" target="_blank" class="btn btn-primary">Obtain</a>
                </div>
              </div>
              <div class="card my-2" style="width: 18rem;">
                <img src="img/logos/smogon_vgc.png" class="card-img-top img-fluid h-50" alt="...">
                <div class="card-body">
                  <h5 class="card-title">VGC Worlds 2024 Winner Team</h5>
                  <p class="card-text">Team Used By The Worlds 2024 Winner Luca Ceribelli</p>
                  <a href="https://pokepast.es/da706d19648f20ff" target="_blank" class="btn btn-primary">Obtain</a>
                </div>
              </div>
              <div class="card my-2" style="width: 18rem;">
                <img src="img/logos/smogon_overused.png" class="card-img-top img-fluid h-50" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Smogon SCL Week 6 Winner Team</h5>
                  <p class="card-text">DD Kyurem + Hatt HO by oldspicemike</p>
                  <a href="https://pokepast.es/058f8c309ed8d12e" target="_blank" class="btn btn-primary">Obtain</a>
                </div>
              </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
  <div class="col-12 text-center mt-3">
      <h1>Useful Links</h1>
      <div class="d-flex justify-content-around">
          <div class="card my-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Smogon Team Building Guide</h5>
              <p class="card-text">A guide to building your own team</p>
              <a href="https://www.youtube.com/watch?v=WuFr4-DcFMA&t=2s" target="_blank" class="btn btn-primary stretched-link">Link</a>
            </div>
            </div>
            <div class="card my-2" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Pokemon Role Compendium</h5>
                <p class="card-text">Information about the roles a Pokemon usually has in a team</p>
                <a href="https://www.smogon.com/forums/threads/sv-ou-role-compendium.3713852/" target="_blank" class="btn btn-primary stretched-link">Link</a>
              </div>
            </div>
            <div class="card my-2" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Pokemon Speed Tiers Overview</h5>
                <p class="card-text">Information about the speed of commonly used Pokemon</p>
                <a href="https://www.smogon.com/forums/threads/sv-ou-speed-tiers.3711207/" target="_blank" class="btn btn-primary stretched-link">Link</a>
              </div>
            </div>
      </div>
  </div>
</div>