<form [formGroup]="frm" autocomplete="off">
<div class="row">
    <div class="col-12 text-center mt-3 d-flex justify-content-between">
        <h2>{{"adminPanel.title" | translate}}</h2>
        <button class="btn btn-success" (click)="createElement()">{{"adminPanel.create" | translate}}</button>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12">
        <div class="col-4 mb-3">
            <div class="form-group my-2">
                <select id="selectElement" class="form-select" formControlName="selectElement" (change)="onChangeEvent($event)">
                    <option value="" selected>{{"adminPanel.select" | translate}}</option>
                    <option value="1">{{"adminPanel.pokemon" | translate}}</option>
                    <option value="2">{{"adminPanel.moves" | translate}}</option>
                    <option value="3">{{"adminPanel.items" | translate}}</option>
                    <option value="4">{{"adminPanel.abilities" | translate}}</option>
                    <option value="5">{{"adminPanel.users" | translate}}</option>
                </select>
            </div>
        </div>
        <table class="table text-center table-light my-2">
            <thead>
                <th scope="col">{{"adminPanel.table.name" | translate}}</th>
                <th scope="col">{{"adminPanel.table.actions" | translate}}</th>
            </thead>
            <tbody>
                @for (element of aCurrentArray; track $index) {
                <tr>
                    @if (selectedOption===5) {
                        <td>{{element.username}}</td>
                    }@else {
                        <td>{{`${element.entityType}.name.${element.id}` | translate | titlecase}}</td>
                        
                    }
                    <td class="">
                        <a class="pointer m-2" [ngStyle]="{color: '#1f516f'}" (click)="editElement(element)"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="pointer m-2" [ngStyle]="{color: '#e15639'}" (click)="deleteElement(element)"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }@empty{
                <tr>
                    <td colspan="3" class="text-center">{{"adminPanel.noOption" | translate}}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
