<div class="row">
    <div class="col-12 mt-3 d-flex flex-column justify-content-between">
        <h2>{{aTeams[0].name}}</h2>
        <span>{{aTeams[0].description}}</span>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12">
        <button class="btn btn-success mx-2" (click)="addPokemon()" [disabled]="aFullPokemonTeam.length>=6">Add Pokemon</button>
        @for (pokemonData of aFullPokemonTeam; track $index) {
        <div class="border my-2" [ngStyle]="{position:'relative'}">
            <div class="row">
                <div class="col-2 text-center my-2">
                    @if (pokemonData.teamInfo.is_shiny) {
                        <img src="{{pokemonData.baseData.image_shiny}}" class="img-fluid mx-auto d-block">
                    }@else{
                    <img src="{{pokemonData.baseData.image}}" class="img-fluid mx-auto d-block">
                    }
                    <p>{{pokemonData.baseData.name| titlecase}}</p>
                </div>
                <div class="col-4 my-2">
                    <div class="form-group text-center">
                        <small>Ability</small>
                        <select id="ability" class="form-select" disabled>
                            <option selected>{{abilityMap[pokemonData.teamInfo.ability] | titlecase}}</option>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <small>Item</small>
                        <select id="item" class="form-select" disabled>
                            <option selected>{{itemMap[pokemonData.teamInfo.item] | titlecase}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-6 my-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group text-center">
                                <small>Move 1</small>
                                <select id="move1" class="form-select" disabled>
                                    <option selected>{{moveMap[pokemonData.teamInfo.move_1] | titlecase}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group text-center">
                                <small>Move 2</small>
                                <select id="move2" class="form-select" disabled>
                                    <option selected>{{moveMap[pokemonData.teamInfo.move_2] | titlecase}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group text-center">
                                <small>Move 3</small>
                                <select id="move4" class="form-select" disabled>
                                    <option selected>{{moveMap[pokemonData.teamInfo.move_3] | titlecase}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group text-center">
                                <small>Move 4</small>
                                <select id="move4" class="form-select" disabled>
                                    <option selected>{{moveMap[pokemonData.teamInfo.move_4] | titlecase}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/pokemonFrm/{{aTeams[0].id}}/{{pokemonData.teamInfo.id}}" class="stretched-link"></a>
        </div>
    } @empty{
        <p class="text-center">This team has no Pokemon.</p>
    }
</div>
</div>