<div class="row">
    <div class="col-12 text-center mt-3 d-flex justify-content-between">
        <h2>Team Manager</h2>
        @if (userRole!=2) {
        <button class="btn btn-success" (click)="createTeam()">{{"teamManager.create" | translate}}</button>
        }
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12">
        <table class="table text-center table-light my-2">
            <thead>
                @if (userRole==2) {
                    <th scope="col">User</th>
                }
                <th scope="col">{{"teamManager.name" | translate}}</th>
                <th scope="col">{{"teamManager.description" | translate}}</th>
                <th scope="col">{{"teamManager.actions" | translate}}</th>
            </thead>
            <tbody>
                @for (team of aTeams; track $index) {
                <tr>
                    @if (userRole==2) {
                        <td>{{team.user_id}}</td>
                    }
                    <td>{{team.name}}</td>
                    <td>{{team.description}}</td>
                    <td class="">
                        @if(userRole==2){
                            <a class="pointer m-2" [ngStyle]="{color: '#1f516f'}" (click)="viewTeam(team)"><i class="fa-solid fa-magnifying-glass"></i></a>
                        }@else{
                        <a class="pointer m-2" [ngStyle]="{color: '#1f516f'}" (click)="editTeam(team)"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="pointer m-2" [ngStyle]="{color: '#e15639'}" (click)="deleteTeam(team)"><i class="fa-solid fa-trash"></i></a>
                    }
                </td>
                </tr>
            }@empty{
                <tr>
                    <td colspan="3" class="text-center">{{"teamManager.noTeams" | translate}}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
