<!-- <app-menu/>
    <div class="container bg-body-tertiary">
        <router-outlet/>
    </div> -->

<!-- <app-menu/>
<body class="bg-body-tertiary">
    <div class="container">
        <router-outlet/>
    </div>
</body>
<footer><app-footer/></footer> -->

<!-- app.component.html -->
<div class="app-container bg-body-tertiary">
    <header><app-menu/></header>
  
    <main class="content container">
      <router-outlet></router-outlet> <!-- or your main content -->
    </main>
  
    <footer class="footer">
      <app-footer/>
    </footer>
  </div>
  


