<form [formGroup]="frm" autocomplete="off" (submit)="login()">
<div class="row">
    <div class="col-12 mt-3 d-flex justify-content-between">
        <h2>{{"login.login" | translate}}</h2>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 my-2 text-center">
            <mat-form-field class="col-12">
              <mat-label>{{"login.email" | translate}}</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            @if (emailNotRequired) {
                <span class="text-danger fst-italic">{{"login.error.emailRequired" | translate}}</span>
            }@else if (emailWrongFormat) {
                <small class="text-danger fst-italic">{{"login.error.emailFormat" | translate}}</small>
            }
            <mat-form-field class="col-12">
              <mat-label>{{"login.password" | translate}}</mat-label>
              <input matInput formControlName="password" type="password">
            </mat-form-field>
            @if (passwordNotRequired) {
                <span class="text-danger fst-italic">{{"login.error.passwordRequired" | translate}}</span>
            }
    </div>
    <div class="col-12 my-2 text-center">
        <button type="submit" class="btn btn-success" [disabled]="frm.invalid">{{"login.login"|translate}}</button>
        <p class="my-2">{{"login.text" | translate}}<a href="/register" class="link-underline link-underline-opacity-0">{{"login.link" | translate}}</a></p>
    </div>
    </div>
</form>