<nav class="navbar navbar-expand-lg bg-body-secondary sticky-top">
    <div class="container-fluid sticky-top">
      <a class="navbar-brand" href="#">Pokemon TFG</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex align-items-center">
          <li class="nav-item">
            <a
              routerLink="/home"
              routerLinkActive="active-link"
              class="nav-link"
              aria-current="page"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/teamManager"
              routerLinkActive="active-link"
              class="nav-link"
              href="#"
              >Team Manager</a
            >
          </li>
          @if(isLoggedIn$ | async){
          <li *ngIf="(serviceAuth.role$ | async) === 2" class="nav-item">
            <a routerLink="/adminPanel" routerLinkActive="active-link" class="nav-link" aria-current="page" href="#">Admin Panel</a>
          </li>
          <li *ngIf="(serviceAuth.role$ | async) === 2" class="nav-item">
            <a routerLink="/adminAbilitiesMovesPokemon" routerLinkActive="active-link" class="nav-link" aria-current="page" href="#">Add abilities and moves</a>
          </li>
        }
          @if(isLoggedIn$ | async){
            <li class="nav-item">
              <a
                routerLink="/#"
                class="nav-link"
                aria-current="page"
                href="#"
                (click)="logout()"
                >Logout</a
              >
            </li>
          }@else{
            <li class="nav-item">
              <a
                routerLink="/login"
                routerLinkActive="active-link"
                class="nav-link"
                aria-current="page"
                href="#"
                >Login</a
              >
            </li>
          }
          <li class="nav-item position-absolute mx-2 end-0">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <span><i class="fa-solid fa-gear"></i></span>
          </button>
          <mat-menu #menu="matMenu">
            <div class="language-toggle">
               <span class="mx-2">EN</span>
              
              <mat-slide-toggle
                [checked]="language === 'es'"
                (change)="toggleLanguage($event.checked)">
              </mat-slide-toggle>
              
              <span class="mx-1">ES</span>
            </div>
            <button mat-menu-item (click)="openDialog()">
              <div class="d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-circle-info fa-2x mx-2"></i>
              <span>{{"menu.help" | translate | titlecase}}</span>
              </div>
            </button>
          </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  