<nav class="navbar navbar-expand-lg bg-body-secondary sticky-top">
    <div class="container-fluid sticky-top">
      <a class="navbar-brand" href="#">Pokemon TFG</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex align-items-center">
          <li class="nav-item">
            <a
              routerLink="/home"
              routerLinkActive="active-link"
              class="nav-link"
              aria-current="page"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/teamManager"
              routerLinkActive="active-link"
              class="nav-link"
              href="#"
              >Team Manager</a
            >
          </li>
          @if(isAuthenticated){
            <li class="nav-item">
              <a
                routerLink="/#"
                class="nav-link"
                aria-current="page"
                href="#"
                (click)="logout()"
                >Logout</a
              >
            </li>
          }@else{
            <li class="nav-item">
              <a
                routerLink="/login"
                routerLinkActive="active-link"
                class="nav-link"
                aria-current="page"
                href="#"
                >Login</a
              >
            </li>
          }
          <li class="nav-item position-absolute mx-2 end-0">
            <div class="language-toggle">
              <!-- <img [src]="'usa.svg'| logoPath" alt="English" class="img-fluid mx-1" style="width: 30px; height: 30px;"> -->
               <span class="mx-2">EN</span>
              
              <mat-slide-toggle
                [checked]="language === 'es'"
                (change)="toggleLanguage($event.checked)">
              </mat-slide-toggle>
              
              <!-- <img [src]="'esp.svg'| logoPath" alt="Español" class="img-fluid mx-1" style="width: 30px; height: 30px;"> -->
              <span class="mx-1">ES</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  