<form [formGroup]="frm" autocomplete="off" (submit)="saveAbility()">
    <div class="row">
        <div class="col-12 text-center mt-3 d-flex justify-content-between">
            <h2>{{"adminAbility.title" | translate}}</h2>
            <button type="submit" class="btn btn-success" [disabled]="frm.invalid">{{"button.save" | translate}}</button>
        </div>
    </div>
    <hr>
    <div class="row ">
        <mat-form-field class="col-12">
            <mat-label>{{"adminAbility.nameEN" | translate}}</mat-label>
            <input matInput formControlName="name_en">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminAbility.nameES" | translate}}</mat-label>
            <input matInput formControlName="name_es">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminAbility.descriptionEN" | translate}}</mat-label>
            <input matInput formControlName="description_en">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{"adminAbility.descriptionES" | translate}}</mat-label>
            <input matInput formControlName="description_es">
        </mat-form-field>
    </div>
</form>